<div class="line">
  <mat-form-field appearance="outline">
    <mat-label>Sort:</mat-label>
    <mat-select #list (selectionChange)="sort(list.value)">
      <mat-option value="0">From "A" to "Z"</mat-option>
      <mat-option value="1">From "Z" to "A"</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput placeholder="User search" #input (keyup.enter)="search(input.value)">
    <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
  </mat-form-field>
</div>

<div class="line">
  <mat-form-field class="line__line__item" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field class="line__line__item" appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field class="line__line__item" appearance="outline">
    <mat-label>User role</mat-label>
    <mat-select [(ngModel)]="role">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="User">User</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<button mat-raised-button color="primary" (click)="addUser()">Add</button>

<mat-selection-list #user>
  <mat-list-option *ngFor="let user of usersList; let i = index" [ngClass]="{'grey': i%2}">
    <div>
      <span class="line__item">{{i}} - {{user.username}}</span>
      <span class="line__item">{{user.name}}</span>
      <span class="line__item" *ngIf="user.role === 'Admin'">{{user.role}}</span>
    </div>
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{user.selectedOptions.selected.length}}
</p>